<div class="content active " id="page-content">
    <h3 class="content-text">Hello Evano 👋🏼,</h3>
    <div class="content-container">
        <div class="content-container-header section-header">
            <div class="section-header-text-content">
                <h3 class="section-header-text-main">All Customers</h3>
                <p class="section-header-text">Active Members</p>
            </div>
            <div class="search-box">

                <input type="search" placeholder="Search" class="search-input">

            </div>
        </div>
        <load="partials/table.html" />
        <div class="content-container-footer">
            <p class="content-container-grey-text">Showing data 1 to 8 of 256K entries</p>
            <div class="pagination-container">
                <ul class="pagination">
                    <li> <a href="#">&#60;</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li> <a href="#">2</a></li>
                    <li> <a href="#">3</a></li>
                    <li> <a href="#">4</a></li>
                    <li> <a href="#">...</a></li>
                    <li> <a href="#">40</a></li>
                    <li><a href="#">&#62;</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>

</div>