<div class="sidebar ">
    <div class="sidebar-header">
        <div class="sidebar-logo">
            <svg style="width: 37px; height: 37px;">
                <use xlink:href="/img/symbol-defs.svg#icon-setting"></use>
            </svg>
            <a href="#">Dashboard <span>v.01</span></a>
        </div>
        <div class="burger-icon" id="burger-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <ul class="sidebar-list" id="sidebar-menu">
        <li data-page="dashboard">
            <div class="sidebar-list-box">
                <svg style="width: 24px; height: 24px; stroke: #9197B3; fill: transparent;">
                    <use xlink:href="/img/symbol-defs.svg#icon-key-square"></use>
                </svg>
                <a href="#">Dashboard</a>
            </div>
        </li>
        <li data-page="product">
            <div class="sidebar-list-box">
                <svg style="width: 24px; height: 24px;  fill: #9197B3;">
                    <use xlink:href="/img/symbol-defs.svg#icon-d-square"></use>
                </svg>
                <a href="#">Product</a>
            </div>
            <svg style="width: 16px; height: 16px; stroke: #9197B3;fill: transparent;">
                <use xlink:href="/img/symbol-defs.svg#icon-chevron-right"></use>
            </svg>
        </li>
        <li class="active-item" data-page="customers">
            <div class="sidebar-list-box ">
                <svg style="width: 24px; height: 24px; fill: white;">
                    <use xlink:href="/img/symbol-defs.svg#icon-profile-square"></use>
                </svg>
                <a href="#">Customers</a>
            </div>
            <svg style="width: 16px; height: 16px; stroke: #9197B3;fill: transparent;">
                <use xlink:href="/img/symbol-defs.svg#icon-chevron-right"></use>
            </svg>
        </li>
        <li data-page="income">
            <div class="sidebar-list-box">
                <svg style="width: 24px; height: 24px; stroke: #9197B3; fill: transparent;">
                    <use xlink:href="/img/symbol-defs.svg#icon-wallet-money"></use>
                </svg>
                <a href="#">Income</a>
            </div>
            <svg style="width: 16px; height: 16px; stroke: #9197B3;fill: transparent;">
                <use xlink:href="/img/symbol-defs.svg#icon-chevron-right"></use>
            </svg>
        </li>
        <li data-page="promote">
            <div class="sidebar-list-box">
                <svg style="width: 24px; height: 24px; fill:#9197B3;">
                    <use xlink:href="/img/symbol-defs.svg#icon-discount-shape"></use>
                </svg>
                <a href="#">Promote</a>
            </div>
            <svg style="width: 16px; height: 16px; stroke: #9197B3;fill: transparent;">
                <use xlink:href="/img/symbol-defs.svg#icon-chevron-right"></use>
            </svg>
        </li>
        <li data-page="help">
            <div class="sidebar-list-box">
                <svg style="width: 24px; height: 24px;  fill:#9197B3;">
                    <use xlink:href="/img/symbol-defs.svg#icon-message-question"></use>
                </svg>
                <a href="#">Help</a>
            </div>
            <svg style="width: 16px; height: 16px; stroke: #9197B3;fill: transparent;">
                <use xlink:href="/img/symbol-defs.svg#icon-chevron-right"></use>
            </svg>
        </li>
        <div class="sidebar-user">
            <img src="/img/photo.png" alt="User photo">
            <div class="sidebar-user-info">
                <p class="sidebar-user-info-name">Evano</p>
                <p class="sidebar-user-info-role">Project Manager</p>
            </div>
        </div>
    </ul>
</div>

</div>